.header {
    align-items: end;
    background-color: darkslategray;
    display: flex;
    height: 6rem;
    justify-content: space-between;
    width: inherit;
    padding-left: 2rem;
    padding-right: 2rem;
    position: fixed;
}

.header > * {
    color: white;
    margin-top: 0;
    text-decoration: none;
}

.header-text {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.header-link {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}