.header {
    background-color: darkslategray;
    justify-content: center;
    display: flex;
    height: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    position: fixed;
}

.header-container {
    align-items: end;
    display: flex;
    flex: 1;
    justify-content: space-between;
    max-width: 800px;
}

.header-container > * {
    color: white;
    margin-top: 0;
    text-decoration: none;
}

.header-text {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.header-link {
    font-size: 1.5rem;
    padding: 1rem;
    padding-top: 2rem;
    border-radius: 1rem 1rem 0 0;
}

.header-link-current {
    background-color: rgb(30, 55, 55);
    font-weight: 500;
}

.header-link:hover {
    background-color: rgb(80, 124, 124);
    font-weight: 500;
}