.header {
    background-color: darkslategray;
    justify-content: center;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    position: fixed;
    z-index: 1;
}

.header-container {
    display: grid;
    flex: 1;
    grid-template-areas: "text"
                         "links";
    margin-top: 1rem;
                         max-width: 800px;
}

@media (width > 600px) {
    .header-container {
        grid-template-areas: "text links";
    }
}

.header-text-link {
    text-decoration: none;
}

.header-text {
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.header-links {
    align-items: end;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.header-link {
    border-radius: 1rem 1rem 0 0;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    padding-top: 2rem;
    text-decoration: none;
}

.header-link-current {
    background-color: rgb(30, 55, 55);
    font-weight: 500;
}

.header-link:hover {
    background-color: rgb(80, 124, 124);
    font-weight: 500;
}

.header-link:active {
    background-color: rgb(80, 124, 124);
    color: gray;
    font-weight: 500;
}