@import url("/src/css/AddListItem.css");
@import url("/src/css/Header.css");
@import url("/src/css/List.css");
@import url("/src/css/ListItem.css");

HTML {
    margin-top: 0;
    padding-top: 0;
    font-family: "Roboto", "sans-serif";
    background-color: whitesmoke;
}

body {
    margin: 0;
    margin-bottom: 2rem;
}

.content > * {
    left: 0;
    right: 0;
}

.body {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1rem;
    padding-top: 12rem;
}

.body > * {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 600px;
}

 @media (width > 600px) {
    .body {
        padding-top: 6rem;
    }
}
/*
@media (width > 800px) {
    .content {
        width: 62.5%;
        margin-left: 19.125%;
    }
}

@media (width > 1000px) {
    .content {
        width: 50%;
        margin-left: 25%;
    }
} */