.list {
    max-width: 100%;
}

.list-row {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
}

.list-row-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}