.list-item {
    background-color: rgb(150, 200, 200);
    border-radius: 1rem;
    display: grid;
    flex: 2;
    gap: 1rem;
    grid-template-areas: "title"
                         "button"
                         "description"
                         "bottom";
    max-width: 100%;
    padding: 1rem;
    padding-bottom: 2rem;
}

@media (width > 600px) {
    .list-item {
        grid-template-areas: "title button"
                             "description description"
                             "bottom bottom";
    }
}

.list-item-title {
    background-color: rgb(100, 150, 150);
    border-radius: 1rem;
    color: white;
    padding: 1rem;
    grid-area: title;
    font-size: large;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    word-wrap: break-word;
}

.list-item-description {
    background-color: whitesmoke;
    border-radius: 1rem;
    grid-area: description;
    padding: 1rem;
    margin: 0;
    margin-top: 1rem;
    word-wrap: break-word;
}

.list-item-bottom-bar {
    display: flex;
    grid-area: bottom;
    justify-content: space-between;
}

.list-item-buttons {
    gap: 1rem;
    grid-area: button;
    display: flex;
    align-items: start;
    justify-content: end;
    text-align: right;
}

.list-item-button {
    align-content: center;
    background-color: rgb(180, 210, 210);
    border: 0;
    border-radius: 1rem;
    display: flex;
    font-size: medium;
    padding: 1rem;
}

.list-item-button > * {
    margin: 0;
}

.list-item-button:hover {
    background-color: rgb(80, 124, 124);
    color: white;
    font-weight: 500;
}

.list-button-symbol {
    position: relative;
    top: 4px;
}