.list-item {
    background-color: lightblue;
    border-radius: 1rem;
    display: grid;
    gap: 5%;
    grid-template-areas: "title button"
                         "description description"
                         "bottom bottom";
    margin-top: 5%;
    max-width: 100%;
    padding: 5%;
}

.list-item-title {
    grid-area: title;
    font-size: large;
    margin-top: 0;
    word-wrap: break-word;
}

.list-item-description {
    grid-area: description;
    word-wrap: break-word;
}

.list-item-bottom-bar {
    display: flex;
    grid-area: bottom;
    justify-content: space-between;
}

.list-item-buttons {
    grid-area: button;
    text-align: right;
}