@import url("/src/css/AddListItem.css");
@import url("/src/css/List.css");
@import url("/src/css/ListItem.css");

HTML {
    margin: 0;
    padding-top: 1rem;
    font-family: "Roboto", "sans-serif";
    background-color: whitesmoke;
}

.content {
    width: 90%;
    margin-left: 5%;
}

@media (width > 600px) {
    .content {
        width: 75%;
        margin-left: 12.5%;
    }
}

@media (width > 800px) {
    .content {
        width: 62.5%;
        margin-left: 19.125%;
    }
}

@media (width > 1000px) {
    .content {
        width: 50%;
        margin-left: 25.5%;
    }
}